<!DOCTYPE html>
<html lang="en">
<head>
  {% load static from staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% block title %}{% endblock %}

  <link rel="stylesheet" href="{% static "css/lib/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>

  <section class="wrapper">
    {% block content %}{% endblock content %}
  </section>

  {% include 'footer.html' %}
</body>
</html>