{% extends '../base.html' %}

{% block content %}

  <h2>Agregar número telefónico</h2>

  {% if messages %}
    {% for message in messages %}
      <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
  </form>

  <a href="{% url "home:hello" %}" class="link">Enviar mensaje</a> |
  <a href="{% url "home:number_list" %}" class="link">Números actuales</a>

{% endblock content %}
