{% extends '../base.html' %}

{% block title %}
  <title>
    Números
  </title>
{% endblock %}

{% block content %}
  <h2>Números registrados</h2>


  {% if messages %}
    {% for message in messages %}
      <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
    {% endfor %}
  {% endif %}

  {% if object_list %}

    <ul>
      {% for nb in object_list %}
        <li>
          {{ nb.phone_number }}
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>No hay números registrados aún.</p>

  {% endif %}

  <a href="{% url "home:new" %}" class="link">Agregar número</a> |
  <a href="{% url "home:new_message" %}" class="link">Enviar mensaje</a>


{% endblock content %}